[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"
wheel = "*"

[packages]
#iexfinance = "*"
#ipython = "*"
requests = "*"
#urllib = "*"
#urllib-parse = "*"
#xlrd = "*"

[requires]
python_version = "3.7"
